# Dependencies
node_modules
.pnpm-store

# Build outputs
.output
dist
build

# Development
.git
.gitignore
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose.yml
